services:
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: hits
    ports:
      - 5432:5432
    volumes:
      - postgres:/data/postgres
  postgres_auth:
    container_name: postgres_auth
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: hits
    ports:
      - 5433:5432
    volumes:
      - postgres_auth:/data/postgres_auth
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.12.12-management
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
volumes:
  postgres:
  postgres_auth:
